<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008549827769-mphn11o1g60vd91j5i543ri6m4cetnpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008549827769-mphn11o1g60vd91j5i543ri6m4cetnpn</string>
	<key>API_KEY</key>
	<string>AIzaSyCy3t4NszuFX8RfQDLd7ogkzQ9PfG4yU5w</string>
	<key>GCM_SENDER_ID</key>
	<string>1008549827769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samrehman.Mercedes</string>
	<key>PROJECT_ID</key>
	<string>benz-d6858</string>
	<key>STORAGE_BUCKET</key>
	<string>benz-d6858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008549827769:ios:87b6e74d67213100</string>
	<key>DATABASE_URL</key>
	<string>https://benz-d6858.firebaseio.com</string>
</dict>
</plist>